<%= form_for(@notum) do |f| %>
  <% if @notum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notum.errors.count, "error") %> prohibited this notum from being saved:</h2>

      <ul>
      <% @notum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :asignatura %><br />
    <%= f.text_field :asignatura %>
  </div>
  <div class="field">
    <%= f.label :catedratico %><br />
    <%= f.text_field :catedratico %>
  </div>
  <div class="field">
    <%= f.label :nota %><br />
    <%= f.number_field :nota %>
  </div>
  <div class="field">
    <%= f.label :observaciones %><br />
    <%= f.text_area :observaciones %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
