<h1>Calificaciones</h1>
<img src="index.png">
<table>
  <tr>
    <th>Asignatura </th>
<br>
    <th>Catedratico </th>
 <br>   <th>Nota </th>
  <br>  <th>Observaciones </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @nota.each do |notum| %>
  <tr>
    <td><%= notum.asignatura %></td>
    <td><%= notum.catedratico %></td>
    <td><%= notum.nota %></td>
    <td><%= notum.observaciones %></td>
    <td><%= link_to 'Show', notum %></td>
    <td><%= link_to 'Edit', edit_notum_path(notum) %></td>
    <td><%= link_to 'Destroy', notum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Notum', new_notum_path %>
